<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Global Staffing,Consulting and Development</h1>
                <h2>Better Solutions For Your Business</h2>

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        NET PUNDIT is one of the leading IT organizations established with the objective of Staffing, Development and Consulting services for various requirements in IT industry. Our services of specialized & experienced professionals help us to provide end to end solutions with high quality in Consulting, Development, Implementation and Management skills. One of our key advantages has come from our ability to recruit and retain highly experienced professionals, who are having in-depth knowledge on the topics involved.
                    </p>
                    <!-- <ul> -->
                    <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li> -->
                    <!-- <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li> -->
                    <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li> -->
                    <!-- </ul> -->
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        One of our key advantages has come from our ability to recruit and retain highly experienced professionals, who are having in-depth knowledge on the topics involved.
                        NET PUNDIT has been started with a unique goal to serve IT solutions  all over the world. We have started lot of events in this process and  staffing is one of the major events amongst them.
                    </p>
                    <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content">
                        <h3><strong>STAFFING STRATEGY:</strong></h3>

                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                    <p>
                                        Manpower plays a very vital role in creation and in helping the organization to keep going in this ever changing dynamic environment. At NET PUNDIT, we have a foresighted vision of what our clients are in search of. We believe in adding value to our clients. We attempt to identify candidates that meet our clients’ requirements to the best of our ability. We attempt to enhance the effectiveness of our client?s recruitment operations by providing the most appropriate referrals and support with information in line with their requirements.
                                    </p>
                                </div>
                            </li>

                            <!-- <li> -->
                            <!-- <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapse"></a> -->
                            <!-- <div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list"> -->
                            <!-- <p> -->
                            <!-- Our holistic approach and workforce solutions to Contract, Contract-to-hire and Permanent hire staffing makes it easier for you to achieve your employment goals. We specialize in the recruitment of software professionals at all levels – software programmers, software engineers, architects, database administrators, systems administrators, project leaders, project managers, business managers, etc. -->
                            <!-- </p> -->
                            <!-- </div> -->
                            <!-- </li> -->


                        </ul>
                    </div>

                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="text-center title">
                    <h3>What we have achieved so far</h3>

                </div>
                <div class="row counters position-relative">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="0" class="purecounter">125</span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="125" data-purecounter-duration="0" class="purecounter">125</span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="24000" data-purecounter-duration="0" class="purecounter">24000</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="120.000" data-purecounter-duration="0" class="purecounter">120.000</span>
                        <p>Daily Mouse Clicks</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Services</h2>
                <p> Our holistic approach and workforce solutions to Contract, Contract-to-hire and Permanent hire staffing makes it easier for you to achieve your employment goals. We specialize in the recruitment of software professionals at all levels – software programmers, software engineers, architects, database administrators, systems administrators, project leaders, project managers, business managers, etc..</p>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-1" aria-expanded="false">Permanent Staffing</a></h4>
                        <p>NET PUNDIT is a perfect solution for companies who need to hire technical resources but are short of time and recruiting resources. Hiring NET PUNDIT also brings better penetration in your dream workforce as we can access performers for conversions in your favor.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user-plus"></i></div>
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-2" aria-expanded="false">Contract To Hire</a></h4>
                        <p>Temp-to-hire gives the client a great hiring advantage – the ability to evaluate a potential candidate on the job before making a commitment. This kind of hands-on assessment leads to more informed hiring decisions.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-user"></i></div>
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-3" aria-expanded="false">Contract Staffing</a></h4>
                        <p>NET PUNDIT evaluates a company’s need for contract staffing, we explore the potential for a healthy, productive relationship based on your corporate values.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <section id="faq" class="faq section-bg" style="margin-top: 0px; padding-top: 0px; padding-bottom: 30px;">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse collapsed" data-bs-target="#faq-list-1" aria-expanded="false">Permanent Staffing <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list" style="text-align: justify; text-justify: inter-word;">
                            <p>
                                NET PUNDIT Permanent Hire Solutions are a perfect solution for companies who need to hire technical resources but are short of time and recruiting resources. Hiring NET PUNDIT also brings better penetration in your dream workforce as we can access performers for conversions in your favor. Permanent Hiring solutions offer savings on your staff’s time, advertising budgets and competitive edge with access to a larger and qualified pool of candidates.
                            </p>
                            <p>
                                Permanent Hire Solutions give companies the ability to immediately hire RELIC Consultants as internal employees. With Permanent Hire Solutions, NET PUNDIT and the company agree on the terms of the Permanent Hire placement which typically include the fee percentage and a guarantee provision should the consultant not work out. Our professional recruiters deploy several practices to ensure that you get a right candidate for filling your permanent vacancies. These include:
                            </p>
                            <br />
                            <p>
                                &bull; Assigning a dedicated Recruitment Manager and/or executive to our clients for managing their permanent requirements<br />
                                &bull; Seek out exception professionals through our extensive network. These resources are usually not traceable except through some contact or referral. <br />
                                &bull; High degree of screening process <br />
                                &bull; Special interview methods<br />
                                &bull; Multi-layered reference techniques
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" aria-expanded="false">Contract To Hire<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list" style="">
                            <div class="container">
                                <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                    <p>
                                        Temp-to-hire gives the client a great hiring advantage – the ability to evaluate a potential candidate on the job before making a commitment. This kind of hands-on assessment leads to more informed hiring decisions.
                                    </p>
                                    <p>
                                        Hiring the wrong person can wreak havoc on an organization – so it’s always safer to “try before you buy.” Moreover, sometimes you have a technical contingent worker who fits perfectly into your organization. Should you and the contingent worker placed by NET PUNDIT decide you’d like to change the nature of the relationship to full time employment, NET PUNDIT is happy to accommodate.
                                    </p>
                                    <p>
                                        Contract-to-hire staffing helps your business by acting as a bridge to full-time employment through our contract-to-hire program, you have the opportunity to evaluate a selected candidate in your business environment before making a hiring decision.
                                    </p>
                                    <br />
                                    <h4>Advantage of Contract to Hire:</h4>
                                    <p>
                                        &bull; You won’t have to waste time finding the right candidate.<br />
                                        &bull; Acts as a bridge to full time employment.<br />
                                        &bull; Opportunity to review abilities before hiring full time.<br />
                                        &bull; No employer risks.<br />
                                        &bull; Gives you confidence in your hiring decision.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Contract Staffing<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <section class="inner-page">
                                <div class="container">
                                    <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                        <h4>
                                            For a contract employment agency to provide its clients the best service possible, it must understand the clients’ needs.
                                        </h4>
                                        <p>
                                            Our approach provides your business with dedicated staffing consultants. The result is increased responsiveness, as well as accountability, because the consultant who creates your staffing solution is also responsible for implementing it. Highly trained and qualified, our agents are experts in screening talent and assessing proficiency. We also conduct focused behavioral interviews and comprehensive skill assessments to ensure you get the exact staffing solution you need.
                                        </p>
                                        <p>
                                            When NET PUNDIT evaluates a company’s need for contract staffing, we explore the potential for a healthy, productive relationship based on your corporate values.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>1200 US-22,Bridgewater Township,NJ 08807</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@netpunditusa.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 585 902 9005</p>
                        </div>


                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.3939206925907!2d-74.58943198545919!3d40.57705955379836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3bfe6ad20a1a3%3A0x787420f97d58a5eb!2s1200%20US-22%2C%20Bridgewater%20Township%2C%20NJ%2008807%2C%20USA!5e0!3m2!1sen!2sin!4v1631551840875!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->