<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>IT & Consulting Services</h1>
                <h2>Better Solutions For Your Business</h2>

                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/assets/img/Main.gif" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->


<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <p>
                    Wolke Networks is one of the leading IT organizations established with the objective of  Consulting services for various requirements in IT industry. Our services of specialized & experienced professionals help us to provide end to end solutions with high quality in Consulting, Services skills.
                </p>
                <div class="col-lg-6">

                    <ul>
                        <li><i class="ri-check-double-line"></i> <b>Providing you with pro-active IT support</b> ensuring your company is not affected by costly, time wasting repeating issues that simply need to be rectified rather than patched.</li>
                        <li><i class="ri-check-double-line"></i> <b>Ensuring your IT infrastructure and systems are scalable</b>in line with your future growth plan maintaining constant levels of security, resilience and stability.</li>

                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <ul>
                        <li><i class="ri-check-double-line"></i> <b>Collaborating with our clients</b>through monthly scheduled IT meetings making sure that you are always kept up to date from a high-level business prospective on emerging technologies, projects, support requests lodged and discussions regarding your future company growth and direction.</li>
                        <li><i class="ri-check-double-line"></i> <b>Maximizing your return on investment (ROI)</b>for business-critical IT systems, Infrastructure, Applications, Backup Solutions or Cloud based environments.</li>
                    </ul>
                    <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Services</h2>
                @*<p> Our holistic approach and workforce solutions to Contract, Contract-to-hire and Permanent hire staffing makes it easier for you to achieve your employment goals. We specialize in the recruitment of software professionals at all levels – software programmers, software engineers, architects, database administrators, systems administrators, project leaders, project managers, business managers, etc..</p>*@
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user"></i></div>*@
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-1" aria-expanded="false">Cloud Solutions</a></h4>
                        <ul>
                            <li>Amazon Web Service (AWS) Consulting Services</li>
                            <li>Microsoft Azure Consulting Services</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user-plus"></i></div>*@
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-2" aria-expanded="false">Managed IT Services</a></h4>
                        <p>Proactive, efficient Managed IT Support services you can rely on & depend upon. We take accountability.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user"></i></div>*@
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-3" aria-expanded="false">Backup & Disaster Recovery</a></h4>
                        <ul>
                            <li>File Level Backup</li>
                            <li>Cloud Backup</li>
                            <li>Replication</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user"></i></div>*@
                        <h4>Network Solutions</h4>
                        <ul>
                            <li>Network Security</li>
                            <li>Firewall Appliances</li>
                            <li>Cloud and Virtual Firewall</li>
                            <li>Email Filtering</li>
                            <li>End-Point Protection</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="500">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user-plus"></i></div>*@
                        <h4>Managed Software Solutions</h4>
                        <ul>
                            <li>Office 365 Email & Intergration</li>
                            <li>Google Wokspace Email solution</li>
                            <li>Share Point</li>
                            <li>One Drive</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="600">
                    <div class="icon-box">
                        @*<div class="icon"><i class="bx bx-user"></i></div>*@
                        <h4><a data-bs-toggle="collapse" data-bs-target="#faq-list-4" aria-expanded="false">VoIP-WolkeTalk</a></h4>
                        <ul>
                            <li>Voice</li>
                            <li>Business Phone System</li>
                            <li>Video Conferencing & Video Meetings</li>
                            <li>Softphone and Web App for business</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <section id="faq" class="faq section-bg" style="margin-top: 0px; padding-top: 0px; padding-bottom: 30px;">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse collapsed" data-bs-target="#faq-list-1" aria-expanded="false">Cloud Solutions <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list" style="text-align: justify; text-justify: inter-word;">
                            <div class="container">
                                <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                    <p>
                                        Cloud computing enables companies of any size to store information at a remote data centre rather than on the premise.
                                    </p>
                                    <p>
                                        It allows large-scale business operations to be carried out at a lower cost while providing improved service quality. Cloud computing helps a business become faster, safer, leaner and more productive.
                                    </p>
                                    <p>
                                        The benefits of reduced complexity, lower costs and scalability are hard to ignore. Nowadays, businesses which are not on the cloud carry an increased risk of breaching vulnerabilities.
                                    </p>
                                    <p>
                                        As a reliable cloud IT services provider, we invest far more time and effort into security for clients than they can compared to running their own technology.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" aria-expanded="false">Managed IT Services<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list" style="">
                            <div class="container">
                                <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                    <p>
                                        As your Managed Service Provider, we take a proactive approach to monitoring and maintaining your IT infrastructure network, servers and vital systems to monitor and prevent minor issues from escalating to major headaches.
                                    </p>
                                    <p>
                                        With access to the latest technology and expertise, we have the capability to take on a segment or your entire IT operational requirements. You will have more time and dedicate resources to focus on strategic goals while reducing overheads.
                                    </p>
                                    <p>
                                        Our managed IT services deliver 24×7 assistance, practical solutions, impartial assessments, years of expertise and complete peace of mind.

                                        All for a fixed monthly fee tailored to your business which can be scaled or reduced depending on your requirements.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Backup & Disaster Recovery<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <section class="inner-page">
                                <div class="container">
                                    <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                        <h4>
                                            YOU THINK YOU NEED BACKUP UNTIL YOU REALIZE THAT
                                            <br>
                                            You Actually Needed Restore
                                        </h4>
                                        <p>
                                            It is logical and simple: backup safely archives your data and restore allows the recovery of your archived data. The process to quickly access data in case of data deletion or corruption demands a proactive approach to avoiding downtime and building up business resiliency.With global climate change, the frequency and magnitude of weather events has increased, and it can be particularly harmful for companies that are not prepared. In view of this, and to avoid concerns, natural disasters threats must be considered by company owners as much as cyber threats when preparing for an outage.
                                        </p>
                                        <p>
                                            By implementing our plan for addressing inevitable downtime, your company will not only save thousands or even millions of dollars in interruption, but also, and mainly, ensure the health of crucial qualitative factors such as employee morale, brand reputation, and customer loyalty.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">VoIP-Wolketalk<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <section class="inner-page">
                                <div class="container">
                                    <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            Voice communication is an essential element of day-to-day business. Phone calls, conference calls, how many would your business make on an average day?<br>
                                            Relying on phone networks or private providers can be costly and frustrating when problems arise that you can’t solve. Our team can improve your flexibility, lower your costs, all while maintaining your existing infrastructure. It’s simple with our VoIP technology.


                                        </p>
                                        <p>
                                            <img  align="left" src="~/assets/img/Capture1_PNG.png" />
                                            @*<img  src="https://image3.mouthshut.com/images/ImagesR/imageuser_m/2017/11/925747536-4559193-1.png?rnd=38062" width="100" height="100">*@
                                            Modern businesses rely heavily on making and receiving calls, whether it’s to schedule a meeting, have a conference call or simply check in with a client; phones are ingrained in how we conduct business today. Just like you need your morning coffee and speedy Internet, you need a reliable <b>VoIP office phone system</b> that works for your business.<br>
                                            <b>WolkeTalk</b> are local and globally US based providers of VoIP (Voice over Internet Protocol). VoIP is a proficient method for taking and making phone calls using digital data which is transmitted over the Internet. <b>WolkeTalk</b> provide business VoIP solutions and our team is committed to finding you the best price for your business, helping you lower costs while improving efficiency for your <b>office phone system</b>.
                                        </p>
                                        <p>
                                            <img  align="left" src="~/assets/img/Capture2_PNG.png" />
                                            @*<img align="left" src="https://image3.mouthshut.com/images/ImagesR/imageuser_m/2017/11/925747536-4559193-1.png?rnd=38062" width="100" height="100">*@
                                            Putting your faith in phone networks that constantly crash or relying on interstate private providers to troubleshoot when you have problems presents a great risk to your business. Problems can arise at the drop of a hat and need fixing in-house right away; trying to get them resolved with a distant, hard to reach provider can become expensive and time consuming. It also puts your communication with current and potential clients at risk as calls aren’t being made or received at your office, resulting in a negative impact on your business.<br>
                                            As <b>VoIP providers, WolkeTalk</b> helps connect VoIP services for small businesses acting as the middle man between yourself and major upstream carriers. We are able to work with you to design the best solution on the market for all your VoIP needs.

                                            With our VoIP services we offer dynamic flexibility allowing us to be competitive in the market, able to offer the best price and best performing VoIP service for your business needs. Taking care of your VoIP service from beginning to end, <b>WolkeTalk</b> ensures a smooth transition from your current situation to your new, seamless VoIP solution.
                                        </p>
                                       
                                        <p>
                                            <img  align="left" src="~/assets/img/3_PNG.png" />
                                            @*<img align="left" src="https://image3.mouthshut.com/images/ImagesR/imageuser_m/2017/11/925747536-4559193-1.png?rnd=38062" width="100" height="100">*@
                                            From provisioning your order, to connecting your office phone system on site while maintaining your existing phone numbers, there is no risk to your business, clients or staff.<br>
                                            No longer will you need to rely on third party providers. At <b>WolkeTalk</b> we offer VoIP SIP trunk services to your end equipment. We keep it simple so you can go on with your business, uninterrupted. <b>Contact us today to find out more</b>.
                                        </p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
            </div>

            <div class="row">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>New York | New Jersey | Connecticut</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@wolkenetworks.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 585 902 9005</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799198932!2d-74.25987701513004!3d40.69767006272707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1638099370793!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen loading="lazy"></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    
                    <form id="myForm" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            @*<div class="loading">Loading</div>*@
                            <div class="error-message" style="display:none;">Something went wrong.</div>
                            <div class="sent-message" style="display:none;">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit" onclick='SubForm()'>Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->
<script>
    function SubForm() {
        $.ajax({
            url: "https://api.apispreadsheets.com/data/20866/",
            type: "post",
            data: $("#myForm").serializeArray(),
            success: function () {
                $('.sent-message').show();
                $('#myForm')[0].reset();
            },
            error: function () {
                $('.error-message').show();
            }
        });
    }
</script>