<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="@Url.Action("Index","Home")">Net Pundit-USA</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<main id="main">
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li>Permanent Staffing</li>
        </ol>
        <h2>Permanent Staffing</h2>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
    <div class="container">
        <div class="col-md-8">
            <p>
                RELIC Solutions Permanent Hire Solutions are a perfect solution for companies who need to hire technical resources but are short of time and recruiting resources. Hiring RELIC Solutions also brings better penetration in your dream workforce as we can access performers for conversions in your favor. Permanent Hiring solutions offer savings on your staff’s time, advertising budgets and competitive edge with access to a larger and qualified pool of candidates.
            </p>
            <p>
                Permanent Hire Solutions give companies the ability to immediately hire RELIC Consultants as internal employees. With Permanent Hire Solutions, RELIC Solutions and the company agree on the terms of the Permanent Hire placement which typically include the fee percentage and a guarantee provision should the consultant not work out. Our professional recruiters deploy several practices to ensure that you get a right candidate for filling your permanent vacancies. These include:
            </p>
            <ul>
                <li>Assigning a dedicated Recruitment Manager and/or executive to our clients for managing their permanent requirements</li>
                <li>Seek out exception professionals through our extensive network. These resources are usually not traceable except through some contact or referral. </li>
                <li>High degree of screening process </li>
                <li>Special interview methods</li>
                <li>Multi-layered reference techniques </li>

            </ul>
        </div>
    </div>
</section>
</main>